services:
  develop:
    build:
      context: .devcontainer
      dockerfile: Dockerfile
    working_dir: /workspace
    volumes:
      - .:/workspace
    ports:
      - "8000:8000"
      - "5173:5173"
      - "8080:8080"
    command: sleep infinity
    networks:
      - dev-net

  keycloak-db:
    image: postgres:17
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - dev-net

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    depends_on:
      - keycloak-db
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password

      KC_HOSTNAME: localhost
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false

      KC_LOG_LEVEL: info
      KC_METRICS_ENABLED: true
      KC_HEALTH_ENABLED: true

      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    command: start-dev
    ports:
      - "8180:8080"
    networks:
      - dev-net

volumes:
  postgres-data:

networks:
  dev-net:
