services:
  develop:
    build:
      context: .devcontainer
      dockerfile: Dockerfile
    working_dir: /workspace
    volumes:
      - .:/workspace
    ports:
      - "8000:8000"
      - "5173:5173"
      - "8080:8080"
    command: sleep infinity
    env_file:
      - .env
    networks:
      - dev-net

  users-ms-db:
    image: postgres:17
    environment:
      POSTGRES_DB: identity_service_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - users-postgres-data:/var/lib/postgresql/data
    networks:
      - dev-net

  keycloak-db:
    image: postgres:17
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes:
      - keycloak-postgres-data:/var/lib/postgresql/data
    networks:
      - dev-net

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    depends_on:
      - keycloak-db
    command: ["start-dev", "--import-realm"]
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password

      KC_HOSTNAME: localhost
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false

      KC_LOG_LEVEL: info
      KC_METRICS_ENABLED: true
      KC_HEALTH_ENABLED: true

      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      KC_PROXY: edge
      
    ports:
      - "8180:8080"
    volumes:
      - ./infra/keycloak/realm.template.json:/opt/keycloak/data/import/realm.json:ro
    networks:
      - dev-net
  
  redis:
    image: redis:latest
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    networks:
      - dev-net
  
  redisinsight:
    image: redis/redisinsight:latest
    ports:
      - '5540:5540'
    volumes:
      - redisinsight_data:/db
    networks:
      - dev-net
    environment:
      REDISINSIGHT_HOST: redis
    depends_on:
      - redis
  
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_DEFAULT_BUCKETS: mi-casa-en-minutos
    command: server --console-address ":9001" /data
    networks:
      - dev-net

volumes:
  redis_data:
  redisinsight_data:
  users-postgres-data:
  keycloak-postgres-data:
  minio_data:

networks:
  dev-net:
