services:
  api:
    build:
      context: ./
      dockerfile: Dockerfile
    working_dir: /workspace
    ports:
      - "8000:8000"
    command: tail -f /dev/null
    depends_on:
      - db

  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authentication_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
